<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>
<div class="form-group">
  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
</div>
    <div class="submit-field">
      <%= form.submit class: "btn btn-default"%>
    </div>

    <div class="other-links help-block">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>